## CMSC320 Final Tutorial

Chocolate Dairy Queen
Collaborators: Charlie Zhang, Darren Chea, Quintin Nguyen

The purpose of our tutorial is to create data visualization of statistics of the Season 12 League of Legends Esports/Pro play, focused on the champions (or characters) played. The data will be used to make an algorithm to ___ .

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

file = "LoL_S12.csv"
table = pd.read_csv(file)

table

,Champion,Role,Picks,Bans,Presence,Wins,Losses,Winrate,KDA,Avg Ban Turn,Game Time,CS per min,Damage per min,Gold per min,CSD@15,GD@15,XPD@15
0,Jinx,ADC,2026.0,1043.0,81.0,1066.0,960.0,53%,4.2,4.6,31:45:00,9.6,549.0,449.0,1.5,69,-77
1,Zeri,ADC,599.0,1951.0,68.0,349.0,250.0,58%,5.0,3.7,31:34:00,9.4,568.0,452.0,-0.3,8,38
2,Lee Sin,Jungle,1335.0,1199.0,67.0,688.0,647.0,52%,3.4,4.3,32:00:00,5.4,277.0,341.0,-2.6,3,-42
3,Xin Zhao,Jungle,1440.0,981.0,64.0,718.0,722.0,50%,2.8,5,32:15:00,5.4,304.0,330.0,-1.9,-92,-72
4,Gwen,Top,903.0,1464.0,63.0,467.0,436.0,52%,2.8,5,31:50:00,8.1,472.0,398.0,0.6,-43,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Warwick,NaN,1.0,0.0,0.0,1.0,0.0,100%,2.4,-,26:14:00,5.6,553.0,405.0,23,1880,1078
156,Brand,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,-,0:00:00,NaN,NaN,NaN,NaN,NaN,NaN
157,Katarina,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,-,0:00:00,NaN,NaN,NaN,NaN,NaN,NaN
158,Rammus,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,-,0:00:00,NaN,NaN,NaN,NaN,NaN,NaN
159,Swain,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,-,0:00:00,NaN,NaN,NaN,NaN,NaN,NaN

We want data relevant to what we are looking for and this is the value of each champion. CSD@15 stands for creep score difference at 15 minutes, GD@15 stands for gold difference at 15 minutes, XPD@15 stands for experience difference at 15 minutes, and Avg Ban Turn is what turn is that champion typically banned at. All of these are irrelevant towards a champion's value because it only accounts for the first 15 minutes of gameplay and games are on average, two times this amount of time (~30 minutes). Average Ban Turn is also irrelevant as the champion is banned regardless, meaning they will not be played. The other factors such as wins, losses, KDA, and presence all provide better insight for a champion's value, each champion has different scaling so if we were to factor early game champions versus late game champions data could be skewed.

In [2]:
del table['CSD@15']
del table['GD@15']
del table['XPD@15']
del table['Avg Ban Turn']

table

,Champion,Role,Picks,Bans,Presence,Wins,Losses,Winrate,KDA,Game Time,CS per min,Damage per min,Gold per min
0,Jinx,ADC,2026.0,1043.0,81.0,1066.0,960.0,53%,4.2,31:45:00,9.6,549.0,449.0
1,Zeri,ADC,599.0,1951.0,68.0,349.0,250.0,58%,5.0,31:34:00,9.4,568.0,452.0
2,Lee Sin,Jungle,1335.0,1199.0,67.0,688.0,647.0,52%,3.4,32:00:00,5.4,277.0,341.0
3,Xin Zhao,Jungle,1440.0,981.0,64.0,718.0,722.0,50%,2.8,32:15:00,5.4,304.0,330.0
4,Gwen,Top,903.0,1464.0,63.0,467.0,436.0,52%,2.8,31:50:00,8.1,472.0,398.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Warwick,NaN,1.0,0.0,0.0,1.0,0.0,100%,2.4,26:14:00,5.6,553.0,405.0
156,Brand,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0:00:00,NaN,NaN,NaN
157,Katarina,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0:00:00,NaN,NaN,NaN
158,Rammus,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0:00:00,NaN,NaN,NaN
159,Swain,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0:00:00,NaN,NaN,NaN

In [3]:
table = table.query("Presence >= 5")
table

,Champion,Role,Picks,Bans,Presence,Wins,Losses,Winrate,KDA,Game Time,CS per min,Damage per min,Gold per min
0,Jinx,ADC,2026.0,1043.0,81.0,1066.0,960.0,53%,4.2,31:45:00,9.6,549.0,449.0
1,Zeri,ADC,599.0,1951.0,68.0,349.0,250.0,58%,5.0,31:34:00,9.4,568.0,452.0
2,Lee Sin,Jungle,1335.0,1199.0,67.0,688.0,647.0,52%,3.4,32:00:00,5.4,277.0,341.0
3,Xin Zhao,Jungle,1440.0,981.0,64.0,718.0,722.0,50%,2.8,32:15:00,5.4,304.0,330.0
4,Gwen,Top,903.0,1464.0,63.0,467.0,436.0,52%,2.8,31:50:00,8.1,472.0,398.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,Seraphine,Mid,113.0,127.0,6.0,64.0,49.0,57%,4.8,31:54:00,6.3,345.0,345.0
67,Nidalee,Jungle,82.0,147.0,6.0,40.0,42.0,49%,3.8,32:13:00,6.4,471.0,377.0
68,Fiora,Top,87.0,124.0,6.0,45.0,42.0,52%,2.6,31:05:00,8.2,474.0,405.0
69,Azir,Mid,127.0,82.0,6.0,58.0,69.0,46%,3.1,33:06:00,8.9,570.0,403.0
70,Ziggs,ADC,99.0,82.0,5.0,39.0,60.0,39%,3.2,32:40:00,8.7,654.0,405.0